.titulo2 {
  text-align: center;
  color: #310404;
  font-size: 50px; }

.titulo4Receta {
  margin-bottom: 100px;
  text-align: center; }

.parrafoRecetadia {
  padding: 100px; }

.receta {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.titulo3Receta {
  background-color: azure;
  color: brown;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.titulo3Dato {
  margin-top: 50px;
  text-align: center;
  color: brown;
  background-color: azure; }

/*aplicando grid*/
.datoSemanal {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "  titulo4Dato imgPlantaCacao imgPlantaCacao" "imgChoco1 pDato1 pDato1 " "pDato2 . imagenChoco2"; }

.titulo4Dato {
  grid-area: titulo4Dato;
  margin-top: 120px;
  margin-left: 50px; }

.imgPlantaCacao {
  width: 400px;
  height: 250px;
  grid-area: imgPlantaCacao;
  margin: 20px; }

.pDato1 {
  grid-area: pDato1;
  margin: 20px; }

.imgChoco1 {
  width: 500px;
  height: 250px;
  grid-area: imgChoco1;
  margin: 20px; }

.pDato2 {
  grid-area: pDato2;
  margin: 20px; }

.imagenChoco2 {
  width: 400px;
  height: 250px;
  grid-area: imagenChoco2;
  margin: 20px; }

#cabecera {
  background-color: azure; }

.titulo {
  color: brown;
  text-align: center;
  font-weight: 500;
  font-size: 100px; }

/*aplicando flex box*/
.listaU {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.listaU li {
  list-style: none; }

.listaU a {
  text-decoration: none;
  color: brown;
  font-size: larger;
  font-weight: 900; }

#cuerpo {
  background-color: #e8e3d5;
  font-family: "Macondo", cursive; }

/*Estilo del carrousel de boostrap*/
.slide img {
  width: 75%;
  height: 500px;
  object-fit: cover;
  margin: auto; }

.formulario {
  padding: 15px;
  border: 2px solid #5d3e06;
  margin: auto;
  width: 20%; }

.formulario input {
  display: block;
  margin: 15px;
  width: 70%; }

.formulario label {
  display: block;
  text-align: center;
  margin: auto;
  width: 40%;
  background-color: #efa9a9;
  opacity: 0.7;
  border-radius: 10px; }

.formulario textarea {
  height: 30%;
  width: 80%;
  margin: 15px; }

@media screen and (max-width: 480px) and (min-width: 1px) {
  /*estilo responsive de la pagina mis recetas*/
  .queries, .listaU, .recetaLangostino,
  .recetaLomo,
  .recetaSalmon,
  .recetaStrogonoff,
  .recetaSara, .receta, .datoSemanal {
    display: flex;
    flex-direction: column; }
  .titulo {
    text-align: center; }
  .listaU {
    align-items: center; }
  .recetaLangostino,
  .recetaLomo,
  .recetaSalmon,
  .recetaStrogonoff,
  .recetaSara {
    width: 100%;
    margin-left: 10px; }
  /*Estilo  responsive del carrousel de boostrap*/
  .slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto; }
  /*estilo responsive de la pagina principal*/
  .imgRecetaDia {
    width: 100%; } }

.tituloLangostinos,
.dulces,
.tituloLomo,
.tituloStrogonoff,
.tituloSalmon,
.tituloSara,
.tituloSelva {
  text-align: center;
  margin-top: 50px; }

.recetaLangostino,
.recetaSalmon,
.recetaLomo,
.recetaStrogonoff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px; }

.preparacionLangostino,
.ingredientesLangostinos,
.PreparacionLomo,
.ingredientesLomo,
.preparacionStrogonoff,
.ingredientesStrogonoff,
.preparacionSalmon,
.ingredientesSalmon,
.preparacionSara,
.ingredientesSara {
  display: flex;
  flex-direction: column;
  margin-left: 150px; }

.recetasH2,
.saladosH3 {
  text-align: center;
  margin-top: 50px; }

.recetaSelvaNegra {
  margin-left: 150px; }

footer {
  background-color: brown;
  margin-top: 100px; }

.footer h4 {
  color: aliceblue;
  text-align: center; }

.listaUfooter {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.listaUfooter li {
  text-decoration: none; }
